    <!-- About Section -->
    <section id="about" class="container content-section text-justify">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About</h2>

                <p>CrossFit Ulladulla is a friendly, well-equipped centre on the South Coast of New South Wales</p>

                <p>Officially opened in June 2013, we're located at 5 Coller Rd in the Kings Point Industrial Estate and are part of the <a href="http://www.southernmartialarts.com.au" target="_blank">Southern Fitness and Martial Arts Centre</a>.</p>

                <p>With an all brand new and state of the art facility, CrossFit Ulladulla is able to cater to every workout with plenty of space and equipment for all its members.</p>

                <p>At CrossFit Ulladulla we cover off a range of different training disciplines – anything from Powerlifting, Strongman, Olympic Lifting, Gymnastics, Endurance and Swimming can be included in a WOD (workout of the day). You will learn a range of techniques for different movements and training styles, and since we are located on the beautiful South Coast, occasional sessions down at the beach are a definite possibility, particularly during summer.</p>

                <p>Here at CrossFit Ulladulla, we believe that the training is only one part of the picture, and that so many other factors can contribute to whether or not a person is successful in their fitness goals. As such, we are keen to help our members create lifestyle changes and for them to transform themselves into the best possible versions of themselves that they can be. This can be in the form of extra training upon request, assistance with diet or nutrition recommendations, and also participation in small challenges throughout the year.</p>

                <p>Casual visitors are always welcome so pop in for a workout during your visit to the beautiful South Coast.</p>

                <iframe width="640" height="360" src="https://www.youtube.com/embed/mlVrkiCoKkg" frameborder="0" allowfullscreen></iframe>

                <p>&nbsp;</p>
                <p>You can learn more about Crossfit at the official <a href="https://www.crossfit.com/cf/faq" target="_blank">FAQ page</a></p>

            </div>
        </div>
    </section>
