<!-- Coaches Section -->
<section id="coaches" class="container content-section contrast-2 text-left">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Coaches</h2>


      <div class="row">
        <div class="col-lg-3">
          <img src="{{site.baseurl}}/img/Melissa.jpg" alt="Melissa" width="200" height="300" />
        </div>
        <div class="col-lg-8">
          <h4>Melissa Van Antwerpen</h4>
          <p>
            - Level 1 &amp; 2 CrossFit trainer
            <br /> - CrossFit gymnastics speciality trainer course
            <br /> - Olympic lifting coaches course
            <br /> - CrossFit mobility course
            <br /> - CrossFit kids
            <br /> - Shoalhaven's fittest woman 2013
            <br /> - 4 years experience CrossFit kids and adults trainer
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <blockquote>
            "I have been involved with CrossFit for 4 years now and loved every minute. CrossFit gives you a level of fitness and a sense of accomplishment like nothing I have ever done before. From the very first class I knew it was going to change my life but I
            had no idea just how much. Before I knew it I was hitting goals I never thought possible for a 31 year old mother of 2, and it didn't stop there. I had wonderful support from experienced trainers and they pushed me to be the best I could be.
            I started to compete at an intermediate level and then advanced and before I knew it CrossFit had become my life. I studied and passed my trainer certificate but I learned to be a coach from people that will always mean the world to me and
            now it's my turn to inspire others to be the best they can be - always better than yesterday."</blockquote>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col-lg-8">
          <h4>Dane Lloyd</h4>
          <p>
            - Cert 3 Fitness
            <br /> - Cert 4 fitness Personal Training
            <br /> - Level 1 Crossfit instructor
            <br /> - CrossFit Powerlifing Cert
            <br /> - AWF Olympic lifting level 1 coach
            <br /> - Crossfit Gymnastics cert
            <br /> - Crossfit Mobility cert
          </p>

          <p>
            Dane has been involved in , and around the fitness industry for more than 10 years. Starting in the local gym lifting weights, then moving into kickboxing , Muay Thai and then finally being introduced to CrossFit in 2012. He has also competed in numerous
            obstacle course races including tough mudder , Spartan series and an 8 hour adventure race in the Canadian rockies. Since starting CrossFit, Dane has found a whole new passion for helping others reach their fitness goals.
          </p>
        </div>
        <div class="col-lg-3">
          <img src="{{site.baseurl}}/img/Dane.jpg" alt="Dane" width="200" height="300" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <blockquote>"It doesn’t matter how old you are, what your level of fitness is or what injuries you may have sustained, I will find a way to help you achieve your goals"</blockquote>
        </div>
      </div>

      <hr />


      <div class="row">
        <div class="col-lg-12">
          <h4>Alex Chappell</h4>
          <p>
            - Cert 3&amp;4 in fitness
            <br /> - CrossFit level 1 certified trainer
            <br /> - Level 1 bootcamp &amp; outdoor fitness
            <br /> - First aid
            <br /> - Jetts functional trainer
            <br />
          </p>

        </div>

        <div class="row">
          <div class="col-lg-12">
            <blockquote>"I've been coaching sport &amp; fitness since 2008 working in fields such as martial arts training, kettle bells, bodyweight and weight training. I continued to advance in my passion for fitness and movement in such forms as acrobatics, gymnastics
              then making the progression into CrossFit and all the variations it provides. My passion for CrossFit is a large part of my life, I am truly honoured to be a part of the sport."</blockquote>

          </div>
        </div>




      </div>
    </div>
</section>
