<!-- Teens Section -->
<section id="teens" class="container content-section contrast-1 text-justify">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>CrossFit Teens</h2>

            <p>CrossFit Ulladulla Teens is a strength and conditioning program designed for 12-17 years old athletes and non-athletes alike. The program combines age-appropriate weightlifting and gymnastics with high intensity training to deliver optimal fitness and performance, as well as establish a lifetime love of fitness.</p>
            <p>Proper weightlifting techniques are taught, under the watchful eye of our Crossfit certified trainers, to enhance strength and power, while also focusing on basic gymnastics to increase agility, mobility and flexibility.</p>
            <p>Our program will increase physical competence in 10 fitness domains:<br />
              <br />
                 - Cardiovascular and Respiratory Endurance<br />
                 - Stamina<br />
                 - Strength<br />
                 - Flexibility<br />
                 - Power<br />
                 - Speed<br />
                 - Coordination<br />
                 - Agility<br />
                 - Balance<br />
                 - Accuracy<br />
              </p>

              <p>In addition, we aim to boost self-esteem and confidence within our teens. We want to give them the strength, both physically and mentally, to tackle any obstacle thrown their way inside or out of the gym.</p>
              <p>With workouts that are scalable for all individuals, CFU CrossFit Teens can equally benefit both the accomplished athlete as well as the less active individual.</p>

        </div>
    </div>
</section>
