<!-- Times Section -->
<section id="times" class="container content-section contrast-2 text-justify">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Times</h2>

            <p>All classes are 1 hour in duration - other times by appointment only.</p>

            <table class="table">
<thead>
<tr>
<th></th>
<th>Mon</th>
<th>Tue</th>
<th>Wed</th>
<th>Thu</th>
<th>Fri</th>
<th>Sat</th>
<th>Sun</th>
</tr>
</thead>
<tbody>
<tr>
<td>6.00 am</td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td></td>
</tr>
<tr>
<td>8.00 am</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
</tr>
<tr>
<td>9.30 am</td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td></td>
</tr>
<tr>
<td>4.30 pm</td>
<td style="color: #ffc719;">CrossFit Teens</td>
<td style="color: #ffc719;">CrossFit Teens</td>
<td style="color: #ffc719;">CrossFit Teens</td>
<td style="color: #ffc719;">CrossFit Teens</td>
<td style="color: #a5a4f7;">Open Gym</td>
<td></td>
<td></td>
</tr>
<tr>
<td>5.00 pm</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td>5.30 pm</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td></td>
</tr>
<tr>
<td>6.00 pm</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td style="color: #9bccf5;">CrossFit</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>


        </div>
    </div>
</section>
